body{
    text-align: center; 
    font-family: 'Gochi Hand'
}


table {
    border: 1px solid black;
    margin: 50px auto; 
    
}

td {
    border: 1px solid #615d6c;
    width: 100px;
    height: 100px;
}




.reset {
    text-align: center;

}