body{
    text-align: center; 
    font-family: 'Gochi Hand'
}


table {
    border: 1px solid black;
    margin: 50px auto; 
    
}

td {
    border: 1px solid grey;
    width: 100px;
    height: 100px;
    font-size: 70px; 
}


.reset {
    text-align: center;

}